{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
<div class="col-md-9 col-md-offset-3">
<br>
<p class="text-center"><strong>-- OR --</strong></p>
<a href="{% url 'social:begin' 'github' %}" class="btn btn-default btn-block fa fa-github"> Login with GitHub</a><br><br>
<a href="{% url 'social:begin' 'twitter' %}" class="btn btn-default btn-block fa fa-twitter"> Login with twitter</a><br><br>
<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-default btn-block fa fa-facebook"> Login with facebook</a><br><br>
<a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-default btn-block fa fa-google"> Login with google</a><br>
</div>
{% endblock %}


{% block sidebar %}
<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
